.formattedFrame {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.solidMech1 {
  position: absolute;
  left: 5px;
  height: 1601.42px;
  width: 800px;
  overflow: hidden;
  right: 51.67%;
  color: var(--color-gray);
  font-family: var(--font-inter);
}

.stemcastCell3 {
  position: absolute;
  width: 100%;
  top: -15.7%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  height: 2000px;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  z-index: 1;
  width: 570.79px;
}

.aboutUs {
  position: relative;
  font-size: 33.19px;
  letter-spacing: 0.1em;
  font-family: var(--font-inaimathi-bold);
}

.loremIpsumDolor {
  margin: 0;
  letter-spacing: 0.1em;
  font-size: 14.22px;
}

.about {
  position: relative;
  align-self: stretch;
  background-color: var(--color-linen-200);
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 28.4px;
  color: var(--color-saddlebrown);
  font-family: var(--font-inaimathi);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 56px 56px;
  gap: 130px;
}

.cornerFramesContainer {
  position: relative;
  width: 400px;
  z-index: 100;
}

.cornerFramesIcon {
  width: 100%;
}

.frameContainer {
  width: 100%;
  height: 100%;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .aboutUs {
    position: relative;
    font-size: 45px;
    letter-spacing: 0.1em;
  }
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 41px;
    z-index: 1;
    width: 570.79px;
    text-align: right;
  }
  .loremIpsumDolor {
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 15px;
  }
  .about {
    height: 512px;
  }
  .cornerFramesContainer {
    width: 600px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .aboutUs {
    position: relative;
    font-size: 70px;
    letter-spacing: 0.1em;
  }
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 41px;
    z-index: 1;
    width: 570.79px;
    text-align: right;
  }
  .loremIpsumDolor {
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 20px;
  }
  .about {
    height: 1024px;
  }
  .cornerFramesContainer {
    width: 600px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 80em) {
  .aboutUs {
    position: relative;
    font-size: 94.81px;
    letter-spacing: 0.1em;
  }
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 41px;
    z-index: 1;
    width: 570.79px;
    text-align: right;
  }
  .loremIpsumDolor {
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 28.44px;
  }
  .about {
    height: 1024px;
  }
  .cornerFramesContainer {
    width: 600px;
  }
}

.cast {
  color: var(--color-saddlebrown);
}

.biotechnology,
.sTEContainer {
  color: var(--color-indianred);
}

.sTEContainer {
  position: relative;
  letter-spacing: 0.1em;
  flex-shrink: 0;
  -webkit-text-stroke: 0.9px var(--color-indianred);
  font-weight: 700;
  font-size: 46.46px;
  font-family: var(--font-inaimathi-bold);
}

.listenNow {
  letter-spacing: 0.15em;
}
.frameItem {
  position: relative;
  width: 16.26px;
  height: 16.26px;
  display: flex;
}

.frameItem img {
  width: 100%;
}

.listenNowParent,
.sTEMCastParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sTEMCastParent {
  position: relative;
  flex-direction: column;
  width: 350px;
  height: 164px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 7px;
  background: #ebe8e0;
  box-shadow: 0px 2.41595px 2.41595px rgba(0, 0, 0, 0.25);
  padding: 16px 35px;
  z-index: 1000;
}
.vectorParent {
  position: relative;
  width: 1345.73px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingPage,
.landingPageInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingPage {
  background-color: var(--color-linen-100);
  height: 230px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 28.44px;
  color: var(--color-saddlebrown);
  font-family: var(--font-inaimathi);
  background-image: url(../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.aPodcastMakingContainer,
.listenNow {
  position: relative;
  letter-spacing: 0.1em;
  flex-shrink: 0;
  font-size: 12px;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .aPodcastMakingContainer,
  .listenNow {
    position: relative;
    letter-spacing: 0.1em;
    flex-shrink: 0;
    font-size: 12px;
  }
  .s {
    font-size: 94.81px;
  }
  .cast {
    font-size: 94.81px;
    color: var(--color-saddlebrown);
  }
  .frameItem {
    width: 46.46px;
    height: 46.46px;
    cursor: pointer;
  }
  .aPodcastMakingContainer,
  .listenNow {
    font-size: 28.44px;
  }
  .sTEMCastParent {
    flex-direction: column;
    width: 630px;
    height: 353.66px;
    padding: 20px 60px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 23px;
  }
  .landingPage {
    background-color: var(--color-linen-100);
    height: 512px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 28.44px;
    color: var(--color-saddlebrown);
    font-family: var(--font-inaimathi);
  }
  .listenNowParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}

/* Large devices such as laptops (1280px and up) */
@media only screen and (min-width: 80em) {
  .s {
    font-size: 94.81px;
  }
  .cast {
    font-size: 94.81px;
    color: var(--color-saddlebrown);
  }
  .frameItem {
    width: 46.46px;
    height: 46.46px;
  }
  .aPodcastMakingContainer,
  .listenNow {
    font-size: 28.44px;
  }
  .frameChild {
    position: absolute;
    width: 851.92px;
    height: 550px;
    margin-right: 400px;
    box-shadow: 0px 4px 37.93px rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }
  .sTEMCastParent {
    position: absolute;
    flex-direction: column;
    width: 630px;
    height: 353.66px;
    margin-left: 600px;
    padding: 20px 60px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 23px;
  }
  .landingPage {
    background-color: var(--color-linen-100);
    height: 800px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 28.44px;
    color: var(--color-saddlebrown);
    font-family: var(--font-inaimathi);
    background-image: none;
  }
}
