.s {
  font-size: 46.46px;
}
.cast {
  font-size: 46.46px;
  color: var(--color-saddlebrown);
}

.stemcastCell3 {
  position: absolute;
  width: 100%;
  top: -15.7%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  height: 2169.35px;
}

.sTEContainer {
  position: relative;
  letter-spacing: 0.1em;
  flex-shrink: 0;
  -webkit-text-stroke: 0.9px #e2635b;
}
.biotechnology,
.sTEContainer {
  color: var(--color-indianred);
}

.listenNow {
  letter-spacing: 0.15em;
}
.frameItem {
  position: relative;
  width: 16.26px;
  height: 16.26px;
  display: flex;
}

.frameItem img {
  width: 100%;
}

.listenNowParent,
.sTEMCastParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sTEMCastParent {
  position: relative;
  flex-direction: column;
  width: 350px;
  height: 164px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 7px;
  background: #EBE8E0;
  box-shadow: 0px 2.41595px 2.41595px rgba(0, 0, 0, 0.25);
  padding: 16px 35px;
  z-index: 2000;
}
.vectorParent {
  position: relative;
  width: 1345.73px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingPage, .landingPageInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingPage {
  background-color: var(--color-linen-100);
  height: 230px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 28.44px;
  color: var(--color-saddlebrown);
  font-family: var(--font-inaimathi);
  background-image: url(../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.aPodcastMakingContainer,
  .listenNow {
    position: relative;
    letter-spacing: 0.1em;
    flex-shrink: 0;
    font-size: 12px;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .aPodcastMakingContainer,
  .listenNow {
    position: relative;
    letter-spacing: 0.1em;
    flex-shrink: 0;
    font-size: 12px;
  }
  .s {
    font-size: 94.81px;
  }
  .cast {
    font-size: 94.81px;
    color: var(--color-saddlebrown);
  }
  .frameItem {
    width: 46.46px;
    height: 46.46px;
    cursor: pointer;
  }
  .aPodcastMakingContainer,
  .listenNow {
    font-size: 28.44px;
  }
  .sTEMCastParent {
    flex-direction: column;
    width: 630px;
    height: 353.66px;
    padding: 20px 60px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 23px;
  }
  .landingPage {
    background-color: var(--color-linen-100);
    height: 512px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 28.44px;
    color: var(--color-saddlebrown);
    font-family: var(--font-inaimathi);
  }
  .listenNowParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  
}

/* Large devices such as laptops (1280px and up) */
@media only screen and (min-width: 80em) {
  .s {
    font-size: 94.81px;
  }
  .cast {
    font-size: 94.81px;
    color: var(--color-saddlebrown);
  }
  .frameItem {
    width: 46.46px;
    height: 46.46px;
  }
  .aPodcastMakingContainer,
  .listenNow {
    font-size: 28.44px;
  }
  .frameChild {
    position: absolute;
    width: 851.92px;
    height: 550px;
    margin-right: 400px;
    box-shadow: 0px 4px 37.93px rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }
  .sTEMCastParent {
    position: absolute;
    flex-direction: column;
    width: 630px;
    height: 353.66px;
    margin-left: 600px;
    padding: 20px 60px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 23px;
  }
  .landingPage {
    background-color: var(--color-linen-100);
    height: 800px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 28.44px;
    color: var(--color-saddlebrown);
    font-family: var(--font-inaimathi);
    background-image: none;
  }
}
