.frameChild {
    position: relative;
    width: 100%;
    width: 100%;
    max-width: 21px;
  }
  .epN,
  .insertEpisodeTitle {
    position: relative;
    letter-spacing: 0.1em;
    display: inline-block;
  }
  .epN {
    flex-shrink: 0;
  }
  .insertEpisodeTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0; /* or some value */
  }
  .time {
    position: relative;
    letter-spacing: 0.1em;
    flex-shrink: 0;
  }
  .episodes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0; /* or some value */
  }

  .frameParent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: inherit;
    gap: var(--gap-361xl);
  }
  .playhead {
    align-self: stretch;
    background-color: var(--color-linen-200);
    border: 3px solid var(--color-indianred);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
    font-size: 15px;
    color: var(--color-indianred);
    font-family: var(--font-inaimathi);
  }
  
  /* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .playhead {
    padding: 28px 50px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 25px;
    gap: 30px;
  }
  .episodes {
    gap: 40px;
  }
  .frameChild {
    max-width: 30px;
  }
}

  /* Medium devices such as tablets (1024px and up) */
  @media only screen and (min-width:80em) {
    .playhead {
      padding: 15px 50px;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      font-size: 30px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.1em;
    }
    .episodes {
      gap: 60px;
    }
  }